@config "../tailwind.config.ts";
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* Base Reset */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/* Scrollbar + effects utilities */
@layer utilities {

  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .bg-gradient-mesh {
  background-image: url('/icons/gradient-mesh.svg');
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .glassmorphism {
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #dddddd;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .shadow-creditCard {
  box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
  }
}

/* Component Classes */
@layer components {

  .input-class {
    @apply text-[16px] leading-6 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none;
  }

  .text14_padding10 {
    @apply text-[14px] leading-5 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-[18px] leading-5 font-semibold text-gray-900;
  }
  
  /* Typography */

  .text-10 { font-size: 10px; line-height: 14px; }
  .text-12 { font-size: 12px; line-height: 16px; }
  .text-14 { font-size: 14px; line-height: 20px; }
  .text-16 { font-size: 16px; line-height: 24px; }
  .text-18 { font-size: 18px; line-height: 22px; }
  .text-20 { font-size: 20px; line-height: 24px; }
  .text-24 { font-size: 24px; line-height: 30px; }
  .text-26 { font-size: 26px; line-height: 32px; }
  .text-30 { font-size: 30px; line-height: 38px; }
  .text-36 { font-size: 36px; line-height: 44px; }

  /* Home */

  .home {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home::-webkit-scrollbar {
    display: none;
  }

  .home-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-content::-webkit-scrollbar {
    display: none;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 shadow sm:gap-6 sm:p-6;
  }

  .total-balance-chart {
    @apply flex size-full max-w-25 items-center sm:max-w-30;
  }

  .total-balance-label {
    @apply text-[14px] leading-5 font-medium text-gray-600;
  }

  .total-balance-amount {
    @apply text-[24px] lg:text-[30px] flex-1 font-semibold text-gray-900;
  }

  /* Transactions */

  .recent-transactions {
    @apply flex w-full flex-col gap-6;
  }

  .recent-transactions-label {
    @apply text-[20px] md:text-[24px] font-semibold text-gray-900;
  }

  .recent-transactions-tablist {
    @apply mb-8 flex w-full flex-nowrap;
    width: 100%;
  }

  .recent-transactions-tablist::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .recent-transactions-tablist::-webkit-scrollbar-track {
    background: #dddddd;
  }

  .recent-transactions-tablist::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .recent-transactions-tablist::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .view-all-btn {
    @apply text-[14px] rounded-lg border border-gray-300 px-4 py-2.5 font-semibold text-gray-700;
  }

  /* Sidebar */

  

  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r border-gray-200 bg-white pt-8 max-md:hidden sm:p-4 xl:p-6 2xl:w-88.75;
  }

  .sidebar-logo {
    @apply text-[26px] font-bold text-black max-xl:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-[16px] font-semibold max-xl:hidden;
  }

  /* Footer */

  .footer {
    @apply flex cursor-pointer items-center justify-between gap-2 py-6;
  }

  .footer_name {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200 max-xl:hidden;
  }

  .footer_email {
    @apply flex flex-1 flex-col justify-center max-xl:hidden;
  }

  

}

.bank-card {
  position: relative;
  display: flex;
  height: 190px;
  width: 100%;
  max-width: 320px;
  justify-content: space-between;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-image: var(--bg-bank-gradient);
  box-shadow: var(--shadow-creditCard);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.bank-card_content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 228px;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #374151; /* gray-700 */
  background-image: var(--bg-bank-gradient);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.bank-card_icon {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: var(--bg-bank-gradient);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.right-sidebar {
  display: none !important;
  height: 100vh !important;
  max-height: 100vh !important;
  flex-direction: column !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left-color: #e5e7eb !important;
  width: 355px !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.right-sidebar::-webkit-scrollbar {
  display: none !important;
}

@media (min-width: 1280px) {
  .right-sidebar {
    display: flex !important;
    overflow-y: scroll !important;
  }
}

.profile-banner {
  height: 120px;
  width: 100%;
  background-image: url('/icons/gradient-mesh.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile {
  position: relative;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 1279px) {
  .profile {
    justify-content: center;
  }
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
  background-color: #f3f4f6;
  border-width: 8px;
  border-style: solid;
  border-color: #ffffff;
  padding: 0.5rem;
  box-shadow: var(--shadow-profile);
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  
}

.profile-name {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

.profile-email {
  font-size: 16px;
  font-weight: 400;
  color: #4b5563;
}

.banks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* My Banks */
.my-banks {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--gray-25, #fcfcfd);
  padding: 2rem;
}

@media (min-width: 1280px) {
  .my-banks {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* My Banks (Transactions) */
.transactions {
  display: flex;
  max-height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  background-color: var(--gray-25, #fcfcfd);
  padding: 2rem;
}

@media (min-width: 1280px) {
  .transactions {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.transactions-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 768px) {
  .transactions-header {
    flex-direction: row;
  }
}

.transactions-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #e5e7eb;
  background-color: #2563eb;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .transactions-account {
    flex-direction: row;
  }
}

.transactions-account-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: rgba(var(--blue-25, 255, 255, 255), 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --bg-bank-gradient: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

